.blog__container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.blog-img {
    padding: 50px;
    min-width: 300px;
    max-width: 500px;
    height: auto;
}

.blog-info {
    font-size: 20px;
}
