.blog__container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.blog-img {
    padding: 50px;
    min-width: 300px;
    max-width: 500px;
    height: auto;
}

.blog-info {
    font-size: 20px;
}

@media screen and (max-width: 501px) {
    .blog__container {
        width: 95%;
    }
    .blog-img {
        min-width: 200px;
        max-width: 200px;
    }

    .blog-info {
        padding: 10vw;
    }
}
