.account__container {
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 501px) {
    .account__container {
        flex-direction: column;
        width: 95%;
    }
    .account-wrapper {
        height: auto;
    }
}
