.productslist__item {
    padding: 10px;
    margin: 10px;
    max-width: 200px;
    width: 100%;
    height: 300px;

    &:hover .productslist-item-shortingo {
        display: block;
        position: relative;
        z-index: 10;
        padding: 10px;
        left: -10px;
    }
}

.productslist-item__img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.productslist-item-like,
.productslist-item-delete {
    align-self: flex-start;
    padding-top: 10px;
}
.productslist-item-buy {
    align-self: flex-end;
    padding-bottom: 10px;
}
.productslist-item-buy:hover,
.productslist-item-like:hover,
.productslist-item-delete:hover {
    cursor: pointer;
    color: #00c48c;
}
.productslist-item__img {
    width: 200px;
    height: 200px;
    background-color: #f6f6f6;

    .productslist-item-img {
        max-height: 200px;
        max-width: 180px;
        width: auto;
    }
}
.productslist-item__info {
    max-width: 200px;
    max-height: 100px;

    .productslist-item-name {
        font-weight: 600;
        padding: 10px 0 5px;
    }
    .productslist-item-price {
        color: #777777;
    }
    .productslist-item-shortingo {
        display: none;
        font-size: 12px;
        background-color: #ffffff;
        width: 100%;
        padding: 5px;
        box-shadow: -1px 20px 20px 0px rgba(0, 0, 0, 0.76);
    }
}
.productslist__item:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.76);
}
@media screen and (max-width: 501px) {
    .productslist__item {
        display: flex;
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
        max-height: 400px;
        min-height: 300px;
        align-items: center;

        &:hover {
            cursor: auto;
            box-shadow: none;
        }
        &:hover .productslist-item-shortingo {
            display: block;
            padding: 10px;
            left: 0;
        }
    }
    .productslist-item__info {
        max-width: 200px;
        max-height: 100%;

        &:hover {
            cursor: pointer;
        }
        .productslist-item-name {
            font-weight: 600;
            padding: 10px 0 5px;
        }
        .productslist-item-price {
            color: #777777;
        }
        .productslist-item-shortingo {
            display: block;
            box-shadow: none;
            padding: 10px;
        }
    }
}
